:root {
    /*font-size: min(calc(10px + 2vmin), 32px);*/
    font-size: calc(10px + 2vmin);
}

.board {
    width: 90vmin;
    max-width: 800px;
    max-height: 800px;
    height: 90vmin;
    display: flex;
    flex-direction: column;
}

.shadowy {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

.shadowy-inset {
    box-shadow: inset 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.shadowy:active {
    box-shadow: inset 2px 2px 12px rgba(0, 0, 0, 0.3);
}
